<div class="container mt-4">
  <h1><%= @notebook.name %></h1>
  <p class="text-muted">This notebook content the following pages:</p>

  <ul class="list-disc list-inside mb-4">
    <% @notebook.pages.each do |page| %>
      <li>
        <%= link_to "#{page.emoji} #{page.title}", notebook_page_path(@notebook, page) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New Page", new_notebook_page_path(@notebook), class: "btn btn-primary mt-3" %>
  <%= link_to "Delete notebook", notebook_path(@notebook),method: :delete, data: { confirm: "¿Estás seguro que quieres eliminar este notebook?" }, class: "text-red-500" %>
</div>
