<div class="container mt-4">
<h1> Edit Page</h1>
<%= render "form", notebook: @notebook, page: @page %>
 <%= link_to "⬅️ Back to the page", [@notebook, @page], class: "btn btn-secondary mt-3" %>
</div>