<div class="container mt-4">
  <h2>â• New page in "<%= @notebook.name %>"</h2>
  <%= render "form", notebook: @notebook, page: @page %>
  <%= link_to "Back to the notebook", notebook_path(@notebook), class: "btn btn-secondary mt-3" %>
</div>
